# configuration of "SleepyPiPlayer"
# SleepyPiPlayer: MP3-player used to fall asleep with auto-shutdown after some minutes
# designed for "raspberry PI Zero 2W"
# A SD-Card contains raspberry-operating-system (linux) and firmware and mp3-files
# suggestion: make root-partition read-only, because of limited write-cycles of SD-cards


# AUTO_SHUTDOWN
# ----<<<<<<<<<<<<<<<<<<<<<<<<<<< better take your own individual time here >>>>>>>>>>>>>>>>>>>>>>>>>>>----
# time in minutes before auto-off  / Zeit bis zum automatischen Abschalten in Minuten 
# ( 0: do not turn off automatically)
# (-1: never call shutdown even if red-button is pressed)
# (debug problems with persistent save-set: use -1 ; systemctl stop sleepy ; ./sleepy)
AUTO_SHUTDOWN        20


# WLAN_ACCESSPOINT_MODE
# ON:  Service-MODE der Raspberry erzeugt das WLAN selbst
# OFF: Service-MODE der Raspberry verbindet sich mit einem vorhandenen WLAN
# Empfehlung: "ON" ist einfacher zu nutzen  linux-updates über WLAN funktionieren aber nicht
# ---
# ON:  Service-Mode: the raspberry creates a WLAN you can connect to  
# OFF: Service-Mode: the raspberry tries to connect to an existing WLAN
# recommendation: "ON" easier to use, but linux-updates will not work
WLAN_ACCESSPOINT_MODE  ON


# WLAN_COUNTRY
# ----<<<<<<<<<<<<<<<<<<<<<<<<<<< better take your own country here >>>>>>>>>>>>>>>>>>>>>>>>>>>----
# allowed WIFI transmit power and frequency can differ
# die erlaubte WLAN-Sendeleistung und die Frequenz kann sich unterscheiden
# https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
# https://web.git.kernel.org/pub/scm/linux/kernel/git/wens/wireless-regdb.git/tree/db.txt
WLAN_COUNTRY  DE


# WLAN_PASSPHRASE
# WLAN-AccessPoint or WLAN-Client Password  (at least 8 characters)
# WLAN-Passwort (mindestens 8 Zeichen)
# ----<<<<<<<<<<<<<<<<<<<<<<<<<<< better take your own individual password here >>>>>>>>>>>>>>>>>>>>>>>>>>>----
WLAN_PASSPHRASE  123123123


# WLAN_SSID
# WLAN-Name used in Service-Mode   (AccessPoint or Client)
WLAN_SSID  SleepyPiPlayer


# SYSTEM_SOUND_PATH
# ----<<<<<<<<<<<<<<<<<<<<<<<<<<< decide between german/english voice-menu >>>>>>>>>>>>>>>>>>>>>>>>>>>----
# files used for audio-feedback  e.g. "file 34 of 97"  (e.g. sys_digit_7.mp3)
# suggestion: create a extra EXT4-partition for firmware and system-sounds
# e.g. /SLEEPY_FW/sleepy/SysMP3/german
SYSTEM_SOUND_PATH  /SLEEPY_FW/sleepy/SysMP3/english


# NUMBER_FORMAT
# ----<<<<<<<<<<<<<<<<<<<<<<<<<<< decide between german/english number-format >>>>>>>>>>>>>>>>>>>>>>>>>>>----
# conversion of numbers to audio
# german:  27:  "sieben-und-zwanzig"
# english: 27:  "twenty-seven"
NUMBER_FORMAT    english


# DISABLE_WIFI
# WIFI: WirelessFidelity Raspberry Pi Zero 2W: WIFI4 (2.4GHz 802.11n)    WLAN: WirelessLocalAreaNetwork
# use  "rfkill block wifi"  to reduce power-consumption
# service-mode: blue-button-long-press + file-back-long-press + file-forw-long-press
#     use "rfkill unblock wifi"  to allow ssh-access to replace mp3-files
# OFF: do not turn off wifi  ON: turn off wifi
# (avoid problems: only if everything else works fine, change to ON)
# (emergency: press blue button while startup: do not disable WIFI)
DISABLE_WIFI        OFF


# SERVICE_REMOUNT_WRITE
# list of partitions remounted RW when starting service-mode
# Liste von Partitionen, die beim ServiceMode Schreibberechtigung bekommen
# Trennzeichen: ';'  /  separator: ';'
# (root-filesystem is always remounted RW in service-mode)
# (im Service-Mode wird das "/"-Dateisystem immer beschreibbar gemacht)
SERVICE_REMOUNT_WRITE   /SLEEPY_MP3;/SLEEPY_FW


# MP3_PATH
# MP3-files used for playback
# suggestion: create a extra EXT4-partition  (FAT32 is slower searching for MP3-files)
# suggestion: enable dir_index on EXT4-partition
# suggestion: mount EXT4 with noatime
# e.g. /SLEEPY_MP3/mp3
MP3_PATH  /SLEEPY_MP3/mp3


# STORAGE_DIR
# store last playback position and audio-volume
# 100 x 4MB-files capable of storing 100 entries
# 000PersistStorage.bin .. 099PersistStorage.bin
# optimized for SD-card reducing write-cycles
# suggestion: create an extra FAT32-partition
# (file-size will never change: FileAllocationTable will never change)
# e.g. /SLEEPY_SAVE/save
STORAGE_DIR      /SLEEPY_SAVE/save


# SRV_KEY_CHG_DIR
# children might appreciate changing the directory by a single key-press
# ON:  allow to change directory by blue service-key  (default: OFF)
# OFF: press yellow and white at once to change directory
# service-mode:   long-press of  blue + white + white
# next-directory: single-press   blue
SRV_KEY_CHG_DIR    OFF

